<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Twitter Example</h1>
    <h3>Sentiment Analysis </h3>
    <form action="http://0.0.0.0:4000/result">
    <div>
      <div id="userInput">
        Key:<br><input id="textInput1" type="text" name="Key" placeholder="Search key"><br><br>
	Frequency:<br><input id="textInput2" type="text" name="Frequency" placeholder="Number of tweets"><br><br>
        <input id="buttonInput" type="submit" value="Analyze"><br><br>
      </div>
    </div>
    </form>
  </body>
</html>
